.user-title-bar {
  background-color: black;
  color: white;
  padding: 5px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-size: small;
}

.logged-in-user-title {
  background-color: coral;
  border-bottom: 1px solid rgb(155, 64, 30);
  padding: 10px;
  color: white;
}

#mentioned-posts-container {
  background-color: darkkhaki;
  padding: 10px;
}

.mention-header {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  font-size: small;
}

.arrow-down-top {
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  margin-top: -12px;
  margin-left: 26px;
  border-top: 9px solid white;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-left: 25px;
  border-top: 11px solid black;
}

#mentioned-posts {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#mentioned-posts li{
  background-color: khaki;
  padding: 5px 5px 5px 5px;
  margin-bottom: 5px;
}

#mentioned-posts li a{
  text-decoration: none;
  color:rgb(75, 125, 126)
}

.fa.fa-comments {
  color: cadetblue;
}