.movie-form input {
  background-color: #efefef;
  /* border-top: 1px solid #ababab;
  border-left: 1px solid #ababab;
  border-right: none;
  border-bottom: 1px solid #ababab; */
  border: 1px solid #ababab;
  /*border-radius: 0.25rem 0 0 0.25rem;*/
  padding: 10px 20px 10px 20px;
  font-size: 1.25rem;
  outline-width: 0;
}