.input-group {
  width: 100%;
  margin-bottom: 10px;
}

.search-form {
  display: inline !important;
  width: 50%;
}

.search-movies-input {
  border-top: 1px solid #ababab;
  border-left: 1px solid #ababab;
  border-right: none;
  border-bottom: 1px solid #ababab;
  border-radius: 0.25rem 0 0 0.25rem;
  padding: 10px 20px 10px 20px;
  width: inherit;
  font-size: 1.25rem;
  outline-width: 0;
}

.search-button {
  padding: 10px 20px 10px 20px;
  margin-left: -7px;
  background-color: coral;
  font-size: 1.25rem;
  cursor: pointer;
  color: white;
}

.search-button:hover {
  background-color: rgb(192, 73, 30);
}

.left-btn {
  border-top: 1px solid rgb(192, 73, 30);
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgb(192, 73, 30);
}

.right-btn {
  border-top: 1px solid rgb(192, 73, 30);
  border-right: 1px solid rgb(192, 73, 30);
  border-left: 1px solid rgb(192, 73, 30);
  border-bottom: 1px solid rgb(192, 73, 30);
  border-radius: 0 0.25rem 0.25rem 0;
}