.input-group {
  width: 100%;
  margin-bottom: 10px;
}

.search-form {
  display: inline !important;
  width: 50%;
}

.search-movies-input {
  border-top: 1px solid #ababab;
  border-left: 1px solid #ababab;
  border-right: none;
  border-bottom: 1px solid #ababab;
  border-radius: 0.25rem 0 0 0.25rem;
  padding: 10px 20px 10px 20px;
  width: 80%;
  font-size: 1.25rem;
  outline-width: 0;
}

.search-button {
  padding: 10px 20px 10px 20px;
  margin-left: -7px;
  background-color: coral;
  font-size: 1.25rem;
  cursor: pointer;
  color: white;
}

.search-button:hover {
  background-color: rgb(192, 73, 30);
}

.left-btn {
  border-top: 1px solid rgb(192, 73, 30);
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgb(192, 73, 30);
}

.right-btn {
  border-top: 1px solid rgb(192, 73, 30);
  border-right: 1px solid rgb(192, 73, 30);
  border-left: 1px solid rgb(192, 73, 30);
  border-bottom: 1px solid rgb(192, 73, 30);
  border-radius: 0 0.25rem 0.25rem 0;
}

/* css for the movie listing and where the movies are streaming */
.availability-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.availability-item {
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
}

.movie-title {
  margin: 0 0 0.5rem 0;
  font-size: 1.1rem;
}

.service-list {
  list-style: none;
  padding-left: 1rem;
}

.service-entry {
  margin-bottom: 0.5rem;
}

.no-streaming {
  color: #666;
  font-style: italic;
}