.container {
  background-color: #efefef;
  width: 90%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem 0.5rem;
  padding: 20px;
}

.main-grid {
  display: grid;
  grid-template-areas: 
  'left right'
  'middle middle'
  'bottom bottom';
  grid-template-columns: 35% auto;
}

.right-grid {
  display: grid;
  grid-template-areas: 
  'top'
  'bottom';
  grid-template-columns: 100%;
  grid-template-rows: auto 150px;
}

.container-left {
  grid-area: left;
}

.container-right {
  grid-area: right;
  display: grid;
  grid-template-areas: 
  'top'
  'bottom';
  grid-template-columns: 100%;
  grid-template-rows: auto 200px;
}

/* .movie-grid {
  display: grid;
  grid-template-areas: 
    'poster title'
    'poster movie-meta'
    'poster plot';
  grid-template-areas: 'poster video';
  grid-template-columns: 500px auto;
}*/

/* .poster {
  grid-area: left;
} */

.poster img {
  max-height: 800px;
} 

.video {
  grid-area: top;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  width: 100%;
  height: 0;
}

.video-frame {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.movie-info {
  grid-area: bottom;
  background-color: black;
}

.movie-info-grid {
  display: grid;
  grid-template-areas:
    'title year rating'
    'desc desc desc'
  ;
  grid-template-columns: 80% auto auto;
}

.movie-title
{
  grid-area: title;
  background-color: #efefef;
  border-top: 1px solid #ababab;
  border-left: 1px solid #ababab;
  border-right: none;
  border-bottom: 1px solid #ababab;
  /*border-radius: 0.25rem 0 0 0.25rem;*/
  padding: 10px 20px 10px 20px;
  font-size: 1.25rem;
  outline-width: 0;
}

.year
{
  grid-area: year;
  padding: 10px 20px 10px 20px;
  background-color: coral;
  font-size: 1.25rem;
  color: white;
  text-align: center;
  border-top: 1px solid rgb(192, 73, 30);
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgb(192, 73, 30);
}

.rating
{
  grid-area: rating;
  padding: 10px 20px 10px 20px;
  background-color: coral;
  font-size: 1.25rem;
  color: white;
  text-align: center;
  border-top: 1px solid rgb(192, 73, 30);
  border-right: 1px solid rgb(192, 73, 30);
  border-left: 1px solid rgb(192, 73, 30);
  border-bottom: 1px solid rgb(192, 73, 30);
  /*border-radius: 0 0.25rem 0.25rem 0;*/
}

.movie-desc {
  grid-area: desc;
  padding: 10px;
}

.posts-dashboard {
  grid-area: middle;
  background-color: #d1d1d1;
  width: 100%;
  margin-top: 20px;
}

.comments-field {
  grid-area: middle;
}

.add-post {
  float: right;
  padding: 5px 25px 5px 25px;
  border-left: 1px solid #a1a1a1;
  cursor: pointer;
}

.add-post:hover {
  background-color: #919191;
  color: #efefef;
}

.remove-btn {
  pointer-events: none;
  float: right;
  padding: 5px 25px 5px 25px;
  border-left: 1px solid #a1a1a1;
  color: #919191;
}

.container-comments {
  grid-area: bottom;
  /* margin-top: 5px; */
}

.comment-container {
  width: 100%;
  display: grid;
  grid-template-areas: 
  'header header header header header'
  '.post_title post_title post_title .'
  'main main main main main'
  '. . . . footer'
  ;
  grid-template-columns: 20% 20% 20% 30% 10%;
  border: 1px solid #00a2fe;
  border-radius: 5px 5px 5px 5px;
  margin-top: 20px;
}

.reply-container {
  width: 90%;
  float: right;
  display: grid;
  grid-template-areas: 
  'header header header header header'
  '.post_title post_title post_title .'
  'main main main main main'
  '. . . . footer'
  ;
  grid-template-columns: 20% 20% 20% 30% 10%;
  border: 1px solid #8BDF00;
  border-radius: 5px 5px 5px 5px;
  margin-top: 20px;
}

.comment-header {
  grid-area: header;
  height: auto;
  background-color: #00a2fe;
  padding: 3px;
}

.reply-header {
  grid-area: header;
  height: auto;
  background-color: #8BDF00;
  padding: 3px;
}

.comment-title {
  grid-area: post_title;
  float: left;
  margin-left: 5px;
  margin-top: 3px;
  color: white;
  width: 90%;
}

.reply-title {
  grid-area: post_title;
  float: left;
  margin-left: 5px;
  margin-top: 3px;
  color: white;
  width: 90%;
}

.comment-title-input {
  width:90%;
  color: white;
  height: 20px;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid white;
  /* border-radius: 4px; */
  background-color: #00a2fe;
  /* box-shadow: 3px 3px 1px 1px #ccc; */
  /* resize: none; */
}

.reply-title-input {
  width:90%;
  color: white;
  height: 20px;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid white;
  /* border-radius: 4px; */
  background-color: #8BDF00;
  /* box-shadow: 3px 3px 1px 1px #ccc; */
  /* resize: none; */
}

.comment-title-input::placeholder {
  color: skyblue;
  font-size: large;
}

.comment-body {
  width:-webkit-fill-available;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  background-color:#fff;
  /* box-shadow: 3px 3px 1px 1px #ccc; */
  resize: none;
}

.comment-save {
  color: white;
  float: right;
  margin-right: 10px;
}

.comment-save-btn {
  grid-area: footer;
  color: white;
  padding: 10px;
  cursor: pointer;
  background-color: #00a2fe;
  border-radius: 5px 0 0 0;
}

.reply-save-btn {
  grid-area: footer;
  color: white;
  padding: 10px;
  cursor: pointer;
  background-color: #8BDF00;
  border-radius: 5px 0 0 0;
}

.comment-save-btn:hover {
  background-color:skyblue;
}

.reply-save-btn:hover {
  background-color:#63a002;
}

.comment {
  grid-area: main;
  padding: 10px;
}