.container {
  background-color: #efefef;
  width: 90%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem 0.5rem;
  padding: 20px;
}

.main-grid {
  display: grid;
  grid-template-areas: 
  'left right';
  grid-template-columns: 35% auto;
}

.right-grid {
  display: grid;
  grid-template-areas: 
  'top'
  'bottom';
  grid-template-columns: 100%;
  grid-template-rows: auto 150px;
}

.container-left {
  grid-area: left;
}

.container-right {
  grid-area: right;
  display: grid;
  grid-template-areas: 
  'top'
  'bottom';
  grid-template-columns: 100%;
  grid-template-rows: auto 200px;
}

/* .movie-grid {
  display: grid;
  grid-template-areas: 
    'poster title'
    'poster movie-meta'
    'poster plot';
  grid-template-areas: 'poster video';
  grid-template-columns: 500px auto;
}*/

/* .poster {
  grid-area: left;
} */

.poster img {
  max-height: 800px;
} 

.video {
  grid-area: top;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  width: 100%;
  height: 0;
}

.video-frame {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.movie-info {
  grid-area: bottom;
  background-color: black;
}

.movie-info-grid {
  display: grid;
  grid-template-areas:
    'title year rating'
    'desc desc desc'
  ;
  grid-template-columns: 80% auto auto;
}

.movie-title
{
  grid-area: title;
  background-color: #efefef;
  border-top: 1px solid #ababab;
  border-left: 1px solid #ababab;
  border-right: none;
  border-bottom: 1px solid #ababab;
  /*border-radius: 0.25rem 0 0 0.25rem;*/
  padding: 10px 20px 10px 20px;
  font-size: 1.25rem;
  outline-width: 0;
}

.year
{
  grid-area: year;
  padding: 10px 20px 10px 20px;
  background-color: coral;
  font-size: 1.25rem;
  color: white;
  text-align: center;
  border-top: 1px solid rgb(192, 73, 30);
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgb(192, 73, 30);
}

.rating
{
  grid-area: rating;
  padding: 10px 20px 10px 20px;
  background-color: coral;
  font-size: 1.25rem;
  color: white;
  text-align: center;
  border-top: 1px solid rgb(192, 73, 30);
  border-right: 1px solid rgb(192, 73, 30);
  border-left: 1px solid rgb(192, 73, 30);
  border-bottom: 1px solid rgb(192, 73, 30);
  /*border-radius: 0 0.25rem 0.25rem 0;*/
}

.movie-desc {
  grid-area: desc;
  padding: 10px;
}