.welcome-grid {
    display: grid;
    grid-template-areas:
        'header left'
        'main user_info'
        'footer footer';
    grid-template-columns: 80% auto;
    background-color: #efefef;
    width: 90%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem 0.5rem;
    padding: 20px;
 }

 .welcome-grid-title {
    grid-area: header;
 }

 .header-grid {
  display: grid;
  grid-template-areas:
    'search recommendation';
  grid-template-columns: 80% auto;
 }

 .welcome-search {
  grid-area: search;
 }

 .welcome-recommendation {
  grid-area: recommendation;
 }

.recommendation-btn {
  text-decoration: none;
  /* padding: 10px 50px; */
  /* background-color: coral; */
  /* color: rgb(254, 209, 193); */
  border: 1px solid rgb(155, 64, 30);
  border-radius: 0.25rem 0.25rem;
  margin: 0;

    padding: 10px 20px 10px 20px;
      margin-left: -7px;
      background-color: coral;
      font-size: 1.25rem;
      cursor: pointer;
      color: white;
}

.recommendation-btn:hover {
  background-color: rgb(192, 73, 30);
}

 .welcome-main {
    grid-area: main;
    padding-right: 20px;
 }

 .user_info {
  grid-area: user_info;
  height: 400px;
  /* background-color: #d1d1d1;
  border-radius: 0.5rem 0.5rem; */
 }

 .table-back-drop {
  background-color: #2b3035;
  padding: 10px;
 }

 .table {
  min-width: 1000px !important;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
 }

 .table thead th {
  border: none;
  padding: 20px 30px;
  font-size: 14px;
  color: #fff;
  border-bottom: 4px solid #2b3035;
  text-align: left;
 }

 .table tbody th, .table tbody td {
  border: none;
  padding: 20px 30px;
  border-bottom: 3px solid #2b3035;
  font-size: 14px;
  color: white;
 }

 .table tbody tr:hover {
  background-color: #5b6f65;
 }

 .table-dark {
  color: #efefef;
  background-color: #343a40;
 }

 .table-dark, .table-dark > th, .table-dark > td {
  background-color: #454d55;
 }

 .film-link {
  text-decoration: none;
  color: white;
 }

 .film-link:hover {
  color: rgb(192, 191, 191);
 }

 .icon {
  font-size: 20px !important;
  line-height: 0.6 !important;
 }

 .table-caption {
  padding: 5px 25px 5px 25px;
  position: relative;
  background-color: #efefef;
  top: 17px;
  margin-left: 50px;
 }

 hr {
  border-top: 3px double #343a40;
 }

 .display-header-container {
  padding: 10px 10px 0 10px;
  background-color: #2b3035;
 }

 .display-header-grid {
  display: grid;
  grid-template-areas: 
  'title year estbudg gross details fav';
  grid-template-columns: 40% auto 15% 15% 10% 10%;;
  background-color: #454d55;
  color: white;
  font-size: 14px;
  font-weight: bold;
 }

 .display-title {
  grid-area: title;
  padding: 20px;
 }

 .display-year {
  grid-area: year;
  padding: 20px;
 }

 .display-est-budget {
  grid-area: estbudg;
  padding: 20px;
 }

 .display-gross {
  grid-area: gross;
  padding: 20px;
 }

 .display-details {
  grid-area: details;
  padding: 20px;
 }
 .display-fav {
  grid-area: fav;
  padding: 20px;
 }

 .movie-display-sheet {
  padding: 3px 10px 0 10px;
  background-color: #2b3035;
 }

 .movie-line-item {
  display: grid;
  grid-template-areas: 
  'm-title m-year m-estbudg m-gross m-details m-fav';
  grid-template-columns: 40% auto 15% 15% 10% 10%;
  background-color: #454d55;
  color: white;
  font-size: 14px;
  margin-bottom: 3px;
  cursor: pointer;
 }

 .movie-line-item-title {
  grid-area: m-title;
  padding: 20px;
 }

 .movie-line-item-year {
  grid-area: m-year;
  padding: 20px;
 }

 .movie-line-item-est-budget {
  grid-area: m-estbudg;
  padding: 20px;
 }

 .movie-line-item-gross {
  grid-area: m-gross;
  padding: 20px;
 }

 .movie-line-item-details {
  grid-area: m-details;
  padding: 20px;
 }

 .movie-line-item-fav {
  grid-area: m-fav;
  padding: 20px;
 }

 details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

.movie-post {
  padding: 15px;
  margin-bottom: 3px;
  background-color: #efefef;
  
}

.movie-post-header {
  border: #00a2fe solid 1px;
  background-color: #00a2fe ;
  width: 100%;
  border-radius: 5px 5px 0 0;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.movie-post-body {
  border: #00a2fe solid 1px;
  border-radius: 0 0 5px 5px;
  width: 100%;
}

.movie-post-actions {
  background-color: #d1d1d1;
  width: 100%;
}

.add-post {
  float: right;
  padding: 5px 25px 5px 25px;
  border-left: 1px solid #a1a1a1;
  cursor: pointer;
}

.add-post:hover {
  background-color: #919191;
  color: #efefef;
}

.modal {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color:#efefef;
  width: 65%;
  border: 1px solid #00a2fe;
  border-radius: 5px 5px 5px 5px;
}

.modal-container {
  display: grid;
  grid-template-areas: 
  'header header header header header'
  '.post_title post_title post_title .'
  '. main main main .'
  '. . . footer footer'
  ;
  grid-template-columns: 5% 30% 30% 30% 5%;
}

.modal-header {
  grid-area: header;
  height: auto;
  background-color: #00a2fe;
  padding: 3px;
}

.modal-title {
  float: left;
  margin-left: 5px;
  margin-top: 3px;
  color: white;
}

.modal-close {
  color: white;
  cursor: pointer;
  float: right;
}

.modal-close:hover {
  color:skyblue;
}

.modal-content {
  grid-area: main;
  padding: 10px;
}

.modal-post-title {
  grid-area: post_title;
  width:-webkit-fill-available;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  background-color:#fff;
  /* box-shadow: 3px 3px 1px 1px #ccc; */
  resize: none;
}

.modal-post-body {
  width:-webkit-fill-available;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  background-color:#fff;
  /* box-shadow: 3px 3px 1px 1px #ccc; */
  resize: none;
}

.modal-footer {
  grid-area: footer;
  padding: 15px;
}

.submit-post-btn {
  float: right;
  margin-right: 5px;
  padding: 10px 45px 10px 45px;
  border: none;
  border-radius: 4px;
  background-color:#d1d1d1;
}