.welcome-grid {
    display: grid;
    grid-template-areas:
        'header header'
        'main user_info'
        'footer footer';
    grid-template-columns: 75% auto;
    background-color: #efefef;
    width: 90%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem 0.5rem;
    padding: 20px;
 }

 .welcome-grid-title {
    grid-area: header;
 }

 .welcome-main {
    grid-area: main;
    padding-right: 20px;
 }

 .user_info {
  grid-area: user_info;
  height: 400px;
  background-color: #d1d1d1;
  border-radius: 0.5rem 0.5rem;
 }

 .table-back-drop {
  background-color: #2b3035;
  padding: 10px;
 }

 .table {
  min-width: 1000px !important;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
 }

 .table thead th {
  border: none;
  padding: 20px 30px;
  font-size: 14px;
  color: #fff;
  border-bottom: 4px solid #2b3035;
  text-align: left;
 }

 .table tbody th, .table tbody td {
  border: none;
  padding: 20px 30px;
  border-bottom: 3px solid #2b3035;
  font-size: 14px;
  color: white;
 }

 .table tbody tr:hover {
  background-color: #5b6f65;
 }

 .table-dark {
  color: #efefef;
  background-color: #343a40;
 }

 .table-dark, .table-dark > th, .table-dark > td {
  background-color: #454d55;
 }

 .film-link {
  text-decoration: none;
  color: white;
 }

 .film-link:hover {
  color: rgb(192, 191, 191);
 }

 .icon {
  font-size: 20px !important;
  line-height: 0.6 !important;
 }

 .table-caption {
  padding: 5px 25px 5px 25px;
  position: relative;
  background-color: #efefef;
  top: 17px;
  margin-left: 50px;
 }

 hr {
  border-top: 3px double #343a40;
 }

 .display-header-container {
  padding: 10px 10px 0 10px;
  background-color: #2b3035;
 }

 .display-header-grid {
  display: grid;
  grid-template-areas: 
  'title year estbudg gross details';
  grid-template-columns: 40% auto 20% 20% 10%;
  background-color: #454d55;
  color: white;
  font-size: 14px;
  font-weight: bold;
 }

 .display-title {
  grid-area: title;
  padding: 20px;
 }

 .display-year {
  grid-area: year;
  padding: 20px;
 }

 .display-est-budget {
  grid-area: estbudg;
  padding: 20px;
 }

 .display-gross {
  grid-area: gross;
  padding: 20px;
 }

 .display-details {
  grid-area: details;
  padding: 20px;
 }

 .movie-display-sheet {
  padding: 3px 10px 0 10px;
  background-color: #2b3035;
 }

 .movie-line-item {
  display: grid;
  grid-template-areas: 
  'm-title m-year m-estbudg m-gross m-details';
  grid-template-columns: 40% auto 20% 20% 10%;
  background-color: #454d55;
  color: white;
  font-size: 14px;
  margin-bottom: 3px;
  cursor: pointer;
 }

 .movie-line-item-title {
  grid-area: m-title;
  padding: 20px;
 }

 .movie-line-item-year {
  grid-area: m-year;
  padding: 20px;
 }

 .movie-line-item-est-budget {
  grid-area: m-estbudg;
  padding: 20px;
 }

 .movie-line-item-gross {
  grid-area: m-gross;
  padding: 20px;
 }

 .movie-line-item-details {
  grid-area: m-details;
  padding: 20px;
 }

 details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

.movie-post {
  width: 100%;
  height: 300px;
  background-color: #efefef;
}