<div class="container main-grid">
  <div class="poster">
    <%= image_tag @movie_stuff["banner"] %>
  </div>
  <div class="video">
    <iframe class="video-frame" title="<%= @movie_stuff['title'] %>" src="<%= @movie_stuff['trailer'] %>">
    </iframe>
  </div>
</div>